<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<div th:replace="fragments/sidebar ::sidebar"></div>

<div class="main">
    <div class="main">
        <div class="container">
            <section class="content mt-2">
                <h1>Add Book</h1>

                <div class="header">
                    Here you can add book.
                </div>
                <hr>
                <div style="text-align: right;">
                    <a th:href="@{/book}" class="btn btn-primary btn-lg active" role="button"
                       aria-pressed="true">Back</a>
                </div>
                <br>
                <div class="row">

                    <form th:action="@{/book}" th:method="post" enctype="multipart/form-data" th:object="${bookDto}">
                        <div class="row">
                            <input type="text" th:field="*{id}" hidden>
                            <div class="form-group col-md-4">

                                <label>select category:</label>
                                <select th:field="*{categoryId}" class="selecting" name="">
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}"
                                    ></option>

                                </select>
                            </div>
                            <br>

                            <div class="form-group col-md-4">
                                <label class="select">Select Author:</label>
                                <select th:field="*{authorId}" class="select" data-mdb-placeholder="select author"
                                        multiple>
                                    <option
                                            th:each="author : ${authors}"
                                            th:value="${author.id}"
                                            th:text="${author.name}"
                                    ></option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">

                                <label>Pages</label>
                                <input type="text" class="form-control" placeholder=""
                                       th:field="*{noOfPages}"
                                       required>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group col-md-4">

                                <label>rating</label>
                                <input type="text" class="form-control" placeholder="" th:field="*{rating}"
                                       required>

                            </div>
                            <div class="form-group col-md-4">

                                <label>stock</label>
                                <input type="text" class="form-control" placeholder=""
                                       th:field="*{stockCount}"
                                       required>

                            </div>
                            <div class="form-group col-md-4">

                                <label>publish date</label>
                                <input type="date" class="form-control" placeholder=""
                                       th:field="*{publishedDate}"
                                       required>

                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group col-md-6">

                                <label>Book name</label>
                                <input type="text" class="form-control" placeholder="" th:field="*{name}"
                                       required>

                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    isbn
                                </label>
                                <input type="text" class="form-control" placeholder="" th:field="*{isbn}"
                                       required>
                            </div>
                            <div class="form-group">

                                <label>Book image</label>
                                <input type="file" class="form-control" placeholder="" th:field="*{photo}"
                                       required>

                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="submit" class="btn btn-danger">Reset</button>

                    </form>
                </div>

                <p style="font-style:italic" th:text="${message}"></p>
        </div>
        </section>
    </div>
</div>
</div>
</body>
</html>